
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
   width: 1000px;
    margin-top: 5%;
    border-radius: 10px;
    padding: 10px 15px ;
}

label{
display: block;
padding-bottom: 8px;
}
.container .title{
    text-align: center;
    font-size: 60px;
}
.container .title header{
    font-weight: 600;
}
.container .title p{
    font-size: 20px;
}

.highlight{
    color: #20Be7c;
}
form{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}
.register-button{
    width: 250px; 
    background-color: #20Be7c ;
    height: 48px;
    display: block ;
    margin: auto;
    border-style: none;
    color: #fff;
    border-radius: 5px;

}

.signin{
    text-align: center;
    font-size: small;
    margin-top: 25px;
}
span a{
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .5s;
}
span a:hover{
    text-decoration: underline;
    color: #000;
}